<?xml version="1.0" encoding="UTF-8" ?>

<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "https://attackto.win"
    id          = "com.shashank.goodluck"
    versionCode = "10"
    version     = "1.0.0" >

    <name>Good Luck</name>
    <description>
        Good Luck mobile edition
    </description>

    <author href="attackto.win" wmail="shawshankbhat@gmail.com">
        Shashank Bhat
    </author>

    <!-- all platforms -->
    <preference name="phonegap-version" value="cli-6.0.0" />
    <preference name="orientation" value="landscape" />
    <preference name="fullscreen" value="true" />
</widget>
